* {
  /* margin: 5px; */
  font-size: 12px;
}

.overall {
  display: flex;
  gap: 50px;
}

.form-container {
  margin-top: 135px;
}

.register-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom:20px;
}

.form-field {
    width: 300px;
}

.check {
  display: flex;
  align-items: center;
  gap: 5px;
}

button {
    background-color: #0071FF;
    color: #fff;
    width: 175px;
    border-radius: 5px;
}